*{
    border: 1px solid crimson;
    box-sizing: border-box;
}

html, body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 16);
}

#my-canvas{
    background-color: white;
    /* width: 1080px;
    height: 720px; */
}